<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>schmatch</title>
        <link rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}">
        {% block head %}{% endblock head %}
    </head>
    <body>
        <h1>schmatch</title>

        {% block content %}
        {% endblock %}

        <script
            src="{{ url_for('static', filename='schmatch.js') }}"></script>
    </body>
</html>
