{% extends "base.html" %}
{% block content %}
<h2>{{ resource.name }}</h2>
<form method="POST" action="">
<table>
    <thead>
        <tr>
            <th>slot</th>
            <th>match</th>
        </tr>
    </thead>
    <tbody>
        {% for slot in slots %}
        <tr>
            <td>{{ slot.name }}</td>
            <td>
                {{ schedule[slot.id] }}
                <select name="slot_{{slot.id}}">
                    <option value="none"
                        {%- if not schedule[slot.id] %} selected{% endif -%}>
                        (free)
                    </option>
                    {% for r in availability[slot.id] %}
                    <option value="{{ r.id }}"
                        {%- if schedule[slot.id].id == r.id %} selected
                        {%- endif -%}>
                        {{ r.name }}
                    </option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<input type="submit" value="Save">
</form>
{% endblock %}
