{% extends "base.html" %}
{% block content %}
<h2>{{ resource.name }}</h2>
<form method="POST" action="">
<table>
    <thead>
        <tr>
            <th>slot</th>
            <th>match</th>
        </tr>
    </thead>
    <tbody>
        {% for slot in slots %}
        <tr>
            <td>{{ slot.name }}</td>
            <td>
                <select name="slot_{{slot.id}}">
                    <option value="none"
                        {%- if not schedule[slot.id] %} selected{% endif -%}>
                        (free)
                    </option>
                    {% if schedule[slot.id] %}
                    {% if resource.left %}
                    {% set other = schedule[slot.id].right_resource %}
                    {% else %}
                    {% set other = schedule[slot.id].left_resource %}
                    {% endif %}
                    <option value="{{ other.id }}" selected>
                        {{ other.name }}
                    </option>
                    {% endif %}
                    {% for other in availability[slot.id] %}
                    <option value="{{ other.id }}">
                        {{ other.name }}
                    </option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<input type="submit" value="Save">
</form>
{% endblock %}
