{% extends "base.html" %}
{% block content %}
<h2>{{ resource.name }}</h2>
<form method="POST" action="">
<table>
    <thead>
        <tr>
            <th>slot</th>
            <th>match</th>
        </tr>
    </thead>
    <tbody>
        {% for slot in slots %}
        {% set match = schedule[slot.id] %}
        <tr>
            <td>{{ slot.name }}</td>
            <td>
                <select name="slot_{{slot.id}}">
                    <option value="none"
                        {%- if not match %} selected{% endif -%}>
                        (free)
                    </option>

                    <option value="custom"
                        {%- if match.description %} selected{% endif -%}>
                        (custom)
                    </option>

                    {% if match and not match.description %}
                    {% if resource.left %}
                    {% set other = schedule[slot.id].right_resource %}
                    {% else %}
                    {% set other = schedule[slot.id].left_resource %}
                    {% endif %}
                    <option value="{{ other.id }}" selected>
                        {{ other.name }}
                    </option>
                    {% endif %}

                    {% for other in availability[slot.id] %}
                    <option value="{{ other.id }}">
                        {{ other.name }}
                    </option>
                    {% endfor %}
                </select>

                <input type="text" name="description_{{ slot.id }}"
                   {%- if match and match.description -%}
                   value="{{ match.description }}"{% endif %}>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<input type="submit" value="Save">
</form>
{% endblock %}
